body {
    background-color: gray;
}

#stadium {
    background-color: white;
    height: 100px;
    width: 100%;
    margin-top: 100px;
}

td {
    border: solid black 1px;
}

.active {
    background-color: green;
}

h1 {
    font-family: Arial;
    text-align: center;
}